on:
  release:
    types: [published]

name: Build artefacts

jobs:
  linux_arm7:
    name: Linux ARMv7
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: armv7-unknown-linux-gnueabihf
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --target armv7-unknown-linux-gnueabihf --release
      - run: pwd
      - run: ls -l $GITHUB_WORKSPACE
      - run: ls -l $GITHUB_WORKSPACE/target
      - run: ls -l $GITHUB_WORKSPACE/target/release
      - run: mv $GITHUB_WORKSPACE/target/release/test-rust-build $GITHUB_WORKSPACE/target/release/test-rust-build-armv7
      - uses: softprops/action-gh-release@v1
        with:
          files: target/release/test-rust-build-armv7
